body {
  font-size: 1rem;
  line-height: 1.7;
}

.logo img {
  width: 150px;
}

.list-cntr ul {
  list-style-type: square;
}

.list-cntr li > span {
  padding-bottom: 2px;
  border-bottom: 2px dotted #dadada;
}

.footer-block, footer {
  background-color: #363636;
  color: #fff;
}

.releases-block .card {
  box-shadow: none;
  border-left: 2px dotted #dadada;
}

@media screen and (max-width: 780px){
  .logo img {
    width: 100px;
  }

  .mobile-cntr {
    width: 100%;
    padding: 20px !important;
  }
  .mobile-cntr .logo {
    display: flex;
    justify-content: center;
  }

  iframe {
    max-width: 100%;
  }

  hr.container {
    margin-bottom: 15px !important;
  }

  .customize-block {
    margin-bottom: 0 !important;
  }
}
